*{
   padding:0px;
   margin:0px;

}
.menubar{
   display: flex;
 justify-content:space-around;
 margin-top: 15px;
}
.option{
   display: flex;
   list-style: none;
   align-items: center;
  margin-left:50px;
  color:var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
 
}
.list{
margin-right:50px;
align-items: center;
}
.title-name{
   color: #181818;

font-size: 45px;
font-weight: 800;

}
.primary-color{
   color: #FD6E0A;
}
.list a{
   text-decoration: none;

}
.primary-button{
border-radius: 5px;
background: #FD6E0A;
border:0px;
color: white;
font-size: 20px;
font-weight: 700;
padding:15px 30px;

}